**/__pycache__/*
.idea/
logs/
/plugins/
neo4j/
**/.DS_Store
.vscode
dags/data/
dags/results/
**/VBA_*.json
**/db_output.json
images/matlab/*
dags/scripts/lib/emulator2/db_emulator_streamlit.json
dags/scripts/lib/emulator2/db_emulator_dot.json
dags/scripts/lib/emulator2/db_emulator.json
dags/scripts/lib/emulator2/EMULATOR_state.json
dags/scripts/lib/emulator2/EMULATOR_design.json
